<!DOCTYPE html>
<html lang="ko">
<head id="layout-head">
  <meta charset="UTF-8">
  <title>Posting Management</title>

  <link rel="stylesheet" href="/js/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/js/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/js/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <header id="layout-header">INSERT HEADER</header>
  <aside id="layout-left-aside">INSERT LEFT ASIDE</aside>

  <!-- Main content -->
  <main id="layout-main">
    <table id="main-table" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>CREATEDBY</th>
        <th>CREATEDAT</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td><a data-toggle="modal" data-target="#layout-modal"  data-id="1">NEW POST</a></td>
        <td>EUNAH</td>
        <td><time datetime="2024-01-01T00:00:00">2024-01-01 00:00:00</time></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a data-toggle="modal" data-target="#layout-modal"  data-id="2">ANY POST</a></td>
        <td>EUNAH</td>
        <td><time datetime="2024-01-02T00:00:00">2024-01-02 00:00:00</time></td>
      </tr>
      <tr>
        <td>3</td>
        <td><a data-toggle="modal" data-target="#layout-modal"  data-id="3">SPRING BOOT</a></td>
        <td>EUNAH</td>
        <td><time datetime="2024-01-03T00:00:00">2024-01-03 00:00:00</time></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>CREATEDBY</th>
        <th>CREATEDAT</th>
      </tr>
      </tfoot>
    </table>
  </main>
  <!-- /.content -->

  <div class="modal fade" id="layout-modal"></div>
  <!-- /.modal -->

  <aside id="layout-right-aside">INSERT RIGHT ASIDE</aside>
  <footer id="layout-footer">INSERT FOOTER</footer>
</div>

<!--/* REQUIRED SCRIPTS */-->
<script id="layout-scripts">/* INSERT COMMON SCRIPT */</script>

<!--/* PAGE SCRIPT */-->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/js/plugins/jszip/jszip.min.js"></script>
<script src="/js/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/js/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  $(function () {
    $("#main-table").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "pageLength": 10
    }).buttons().container().appendTo('#main-table_wrapper .col-md-6:eq(0)'); // main-table_wrapper ID is auto generated by the plugin
  });
</script>
<script>
  $(document).ready(() => {
    $('#layout-modal').on('show.bs.modal', (event) => {
      const id = $(event.relatedTarget).data('id');

      fetch(`/management/postings/${id}`)
              .then(response => response.json())
              .then(data => {
                $('.modal-title').text(data.title);
                $('.modal-body pre').text(data.content);
                $('.modal-footer form').attr('action', `/management/postings/${id}`);
              })
              .catch(error => {
                console.error('Fail to loading posting: ', error);
              });
    });
  });
</script>
</body>
</html>