<!DOCTYPE html>
<html lang="en" >
<head id="layout-head">
    <meta charset="UTF-8">
    <title>Comment Admin Page</title>

    <link rel="stylesheet" href="/js/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/js/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/js/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header id="layout-header">INSERT HEADER</header>
    <aside id="layout-left-aside">INSERT LEFT ASIDE</aside>

    <!-- Main content -->
    <main id="layout-main">
        <table id="main-table" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>COMMENT CONTENT</th>
                <th>CREATEDBY</th>
                <th>CREATEDAT</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a data-toggle="modal" data-target="#layout-modal">TEST COMMENT</a></td>
                <td>EUNAH</td>
                <td><time datetime="2024-01-01T00:00:00">2024-01-01 00:00:00</time></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a data-toggle="modal" data-target="#layout-modal">THANKS~~</a></td>
                <td>EUNAH</td>
                <td><time datetime="2024-01-02T00:00:00">2024-01-02 00:00:00</time></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a data-toggle="modal" data-target="#layout-modal">BAD COMMENT XXX</a></td>
                <td>EUNAH</td>
                <td><time datetime="2024-01-03T00:00:00">2024-01-03 00:00:00</time></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>COMMENT CONTENT</th>
                <th>CREATEDBY</th>
                <th>CREATEDAT</th>
            </tr>
            </tfoot>
        </table>
    </main>
    <!-- /.content -->

    <div class="modal fade" id="layout-modal"></div>
    <!-- /.modal -->

    <aside id="layout-right-aside">INSERT RIGHT ASIDE</aside>
    <footer id="layout-footer">INSERT FOOTER</footer>
</div>

<!--/* REQUIRED SCRIPTS */-->
<script id="layout-scripts">/* 공통 스크립트 삽입부 */</script>

<!--/* 페이지 전용 스크립트 */-->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/js/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/js/plugins/jszip/jszip.min.js"></script>
<script src="/js/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/js/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/js/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
    $(function () {
        $("#main-table").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
            "pageLength": 10
        }).buttons().container().appendTo('#main-table_wrapper .col-md-6:eq(0)'); // main-table_wrapper ID는 플러그인에 의해 자동 생성됨
    });
</script>
<script>
    $(document).ready(() => {
        $('#layout-modal').on('show.bs.modal', (event) => {
            const id = $(event.relatedTarget).data('id');
            console.log('ID:', id);

            fetch(`/management/posting-comments/${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    $('.modal-title').text('Comment Content');
                    $('.modal-body pre').text(data.content);
                    $('.modal-footer form').attr('action', `/management/posting-comments/${id}`);
                })
                .catch(error => {
                    console.error('Comment Loading Failed: ', error);
                });
        });
    });
</script>
</body>
</html>
